
node_modules
*.tgz
package-lock.json

plugins/NativeScriptAngularCompilerPlugin.d.ts
plugins/NativeScriptAngularCompilerPlugin.js
plugins/NativeScriptAngularCompilerPlugin.js.map

transformers/*.d.ts
transformers/*.js
transformers/*.js.map

utils/*.d.ts
utils/*.js
utils/*.js.map

plugins/PlatformFSPlugin.d.ts
plugins/PlatformFSPlugin.js
plugins/PlatformFSPlugin.js.map

plugins/WatchStateLoggerPlugin.d.ts
plugins/WatchStateLoggerPlugin.js
plugins/WatchStateLoggerPlugin.js.map

host/resolver.d.ts
host/resolver.js
host/resolver.js.map

jasmine-config/reporter.d.ts
jasmine-config/reporter.js
jasmine-config/reporter.js.map

**/*.spec.js*
**/*.spec.d.ts*

hooks
.DS_Store

!projectHelpers.spec.js
