
node_modules
*.tgz
package-lock.json

plugins/NativeScriptAngularCompilerPlugin.d.ts
plugins/NativeScriptAngularCompilerPlugin.js
plugins/NativeScriptAngularCompilerPlugin.js.map

transformers/ns-replace-bootstrap.d.ts
transformers/ns-replace-bootstrap.js
transformers/ns-replace-bootstrap.js.map

transformers/ast-utils.d.ts
transformers/ast-utils.js
transformers/ast-utils.js.map

plugins/PlatformFSPlugin.d.ts
plugins/PlatformFSPlugin.js
plugins/PlatformFSPlugin.js.map

plugins/WatchStateLoggerPlugin.d.ts
plugins/WatchStateLoggerPlugin.js
plugins/WatchStateLoggerPlugin.js.map

host/resolver.d.ts
host/resolver.js
host/resolver.js.map

hooks
.DS_Store
