node_modules
platforms
hooks
report

**/*.map

reports/
test-results.xml

tsconfig.aot.json

vendor.js
vendor-platform.android.js
vendor-platform.ios.js

vendor.ts
vendor-platform.android.ts
vendor-platform.ios.ts

webpack.config.js
